body,
html {
    margin: 0;
    padding: 0;
}

#properties {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 16px 0px 0px;
}

#cameraPosition {
    position: fixed;
    margin: 8px;
    top: 0;
    font-size: 12px;
    pointer-events: none;
}

p {
    margin: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

#graphCanvas {
    display: block;
}

label {
    color: white;
    display: block;
    margin: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

input {
    margin-left: 8px;
}

button {
    display: block;
    margin: 16px;
    border: 0;
    border-radius: 6px;
    background-color: white;
    color: rgb(44, 44, 44);
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    filter: brightness(85%);
}

button.delete {
    background-color: #ff1d1d;
    color: white;
}

button.smallDelete {
    background-color: #ff1d1d96;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    margin-left: 8px;
    padding: 2px 6px;
    display: inline;
}

#sourceLink {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 8px;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#sourceLink:hover {
    color: white;
    text-decoration: underline;
}
